.footer {
  background-color: #F8F4F1;
  color: #000;
  padding: 1em;
  text-align: center;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.copy_right {
  font-weight: bold;
}

.copy_right span {
  font-weight: bold;
  color:#E4B7D2;
}

