.navbar {
  width: 100%;
  background-color: #f8f4f1;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;

  gap: 1em;
}

.item img {
  width: 20px;
  height: 20px;
}

.navbar .logo {
  width: 60px;
}

.navbar img:hover {
  opacity: 70%;
}

@media (min-width: 900px) {
  .navbar {
    padding: 1em 3em;
  }

  .list {
    gap: 1.6em;
  }

  .item img {
    width: 30px;
    height: 30px;
  }

  .navbar .logo {
    width: 80px;
  }
}
