.container_musica {
    padding: 3% 40%;
    display: flex;
    flex-direction: column;
}


.container_musica_autor {
    font-size: 0.8em;
}

.container_musica_letra {
    font-size: 1em;
    font-weight: 600;
    padding: 1em 0;
}