.search_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em auto;
  text-align: center;
}

.search_container h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  width: fit-content;
}

.center {
  width: fit-content;
  margin: 0 auto;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  margin-bottom: 10px;
}

.music_card {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.music_card img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.music_card h2 {
  margin-left: 15px;
}
