.search_container {
  width: 450px;
  margin: 0 auto;
  padding: 3em auto;
  text-align: center;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  margin-bottom: 10px;
}

.music_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 450px;
  margin: 3em auto;
  padding: 3em;
  text-align: justify;
  border: 4px solid #e4b7d2;
  border-radius: 4px;
}

.music_card h2 {
  font-weight: bold;
}

.music_card .musicAuthor {
  margin-bottom: 0.5em;
}

.music_card .musicLyrics {
  font-size: 20px;
}

.music_card .musicFullName {
  font-size: 13px;
  color: #7b7b7b;
}

.music_card .readMore,
.music_card .showLess {
  color: #7b7b7b;
  cursor: pointer;
  font-size: 16px;
}
.music_card .readMore:hover,
.music_card .showLess:hover {
  color: #cc8db3;
}