.btn  {
  padding: 0 1.3em;
  border-radius: 10px;
  border: .1em solid #000;
  height: 45px;
}

.btn img {
  width: 20px;
}

@media (min-width: 900px) {
  .btn {
    padding: 1.3em;
    height: 54px;
    border-radius: 10px;
    border: 0.1em solid #000;
  }

  .btn  {
    padding: 0 1.3em;
    border-radius: 10px;
    border: .1em solid #000;
    height: 54px;
  }
  
  .btn img {
    width: 35px;
  }
}